<html xmlns:th="https://www.thymeleaf.org">


<body>
  <div th:replace="fragments/header :: header">&nbsp;</div>

  <h2>Patient</h2>
  <form th:object="${patient}" class="form-horizontal" id="add-patient-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('OHIP', 'ohip', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}" />
<!--      <input-->
<!--        th:replace="~{fragments/selectField :: select ('Gender', 'gender', 'text') }" />-->
      <input
        th:replace="~{fragments/inputField :: input ('Birth Date', 'birthDate', 'date')}" />
<!--      <input-->
<!--        th:replace="~{fragments/selectField :: select ('Province', 'province', 'text') }" />-->
      <input
        th:replace="~{fragments/inputField :: input ('Address', 'address', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('City', 'city', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Postal Code', 'postalCode', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Telephone', 'mobilePhone', 'text')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${patient['new']} ? 'Add Patient' : 'Update Patient'"
          class="btn btn-default" type="submit" th:text="${text}">Add
          Patient</button>
      </div>
    </div>
  </form>
</body>
</html>
