<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Prime Cardiology</title>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.4/b-html5-1.5.4/r-2.2.2/sc-1.5.0/datatables.min.css"/>
</head>



<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Patients</h3>
            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th>OHIP</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Ref Doctor</th>
                    <th>Phone</th>
                    <th><a class="btn btn-sm btn-outline-success" th:href="@{/patients/new}">New</a></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="patient : ${selections}">
                        <td>
                            <a th:href="@{/patients/__${patient.id}__}" th:text="${patient.ohip}"/></a>
                        </td>
                        <td th:text="${patient.lastName}"/>
                        <td th:text="${patient.firstName}"/>
                        <td th:text="${patient.birthDate}"/>
                        <td th:text="${patient.gender}"/>
                        <td>not implemented</td>
                        <td th:text="${patient.mobilePhone}"/>
                        <td><i class="fas fa-edit"></i> <i class="fas fa-trash"></i> <i class="fas fa-print"></i></td>
                    </tr>
                    <tr class="table-active"><td>1448956076</td><td>Pasolo</td><td>Nigro</td><td>December 20, 2011</td><td>Male</td><td>Zggsowski, John</td><td></td><td><i class="fas fa-edit"></i> <i class="fas fa-trash"></i> <i class="fas fa-print"></i></td></tr>

                </tbody>
            </table>
        </div>
    </div>

</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/popper.js/popper.min.js}"></script>

</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.4/b-html5-1.5.4/r-2.2.2/sc-1.5.0/datatables.min.js"></script>
</html>
