<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<head>

</head>

<div>
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <div class="container">
    <h2>Patient Information</h2>


        <table class="table table-striped" th:object="${patient}">
            <tr>
                <th>Name</th>
                <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
            </tr>
            <tr>
                <th>Address</th>
                <td th:text="*{address}" /></td>
            </tr>
            <tr>
                <th>City</th>
                <td th:text="*{city}" /></td>
            </tr>
            <tr>
                <th>Mobile Phone</th>
                <td th:text="*{mobilePhone}" /></td>
            </tr>
        </table>

        <a class="btn btn-default" th:href="@{{id}/edit(id=${patient.id})}">Edit
            Patient</a>
        <a class="btn btn-default" th:href="@{{id}/echotests/new(id=${patient.id})}">Add
            New Echo Test</a>

        <br />
        <br />
        <br />
        <h2>Echo Tests</h2>

        <table class="table table-striped">

            <tr th:each="echoTest : ${patient.echoTests}">
                <td valign="top">
                    <dl class="dl-horizontal">
                        <dt>Name</dt>
                        <dd th:text="${echoTest.name}" /></dd>
                        <dt>Visit Date</dt>
                        <dd
                                th:text="${#temporals.format(echoTest.visitDate, 'yyyy-MM-dd')}" /></dd>
                    </dl>
                </td>
                <td valign="top">
                    <table class="table-condensed">
                        <tr>
                            <td><a
                                    th:href="@{{patientId}/echotests/{echoTestId}/edit(patientId=${patient.id},echoTestId=${echoTest.id})}">Edit
                                Echo Test</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>

</html>
