<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Prime Cardiology</a>
            </div>
            <div class="col-md-8">
                <div class="input-group mb-3">
                    <div class="input-group-prepend btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-secondary active">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Surname
                        </label>
                        <label class="btn btn-outline-secondary">
                            <input type="radio" name="options" id="option2" autocomplete="off"> OHIP
                        </label>
                        <label class="btn btn-outline-secondary ">
                            <input type="radio" name="options" id="option3" autocomplete="off"> Ref Doctor
                        </label>
                        <label class="btn btn-outline-secondary">
                            <input type="radio" name="options" id="option4" autocomplete="off"> Phone
                        </label>
                    </div>
                    <input type="text" class="form-control" placeholder="Search..">
                    <button class="btn btn-secondary" type="button" id="button-addon2">Search</button>
                </div>
                Search:
            </div>
        </div>
    </nav>

</body>

</html>