<!doctype html>
<html th:fragment="layout (template, menu)">

  <head>
</head>

<body>

<nav class="row" role="navigation">
            <h2 class="col-md-4">Prime Cardiology</h2>

            <div class="col-md-8">
                <div class="input-group mb-3">
                    <div class="input-group-prepend btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-secondary active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Surname
                            </label>
                        <label class="btn btn-outline-secondary">
                                <input type="radio" name="options" id="option2" autocomplete="off"> OHIP
                            </label>
                        <label class="btn btn-outline-secondary ">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Ref Doctor
                            </label>
                        <label class="btn btn-outline-secondary">
                                <input type="radio" name="options" id="option1" autocomplete="off"> Phone
                            </label>
                      </div>
                    <input type="text" class="form-control" placeholder="Search..">
                    <button class="btn btn-secondary" type="button" id="button-addon2">Search</button>
                </div>
                Search:
            </div>


            </h2>
  </nav>

  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>

</html>