<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Prime Cardiology Echo reports</title>

    <meta name="description" content="">
    <meta name="author" content="Prime Cardiology">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>

<body>

    <div class="container-fluid">
        <nav th:replace="~{fragments/navbar :: layout (~{::body},'patients')}"> </nav>
        <div class="row">
            <div class="col-md-12">
                <h3>Patients</h3>
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>OHIP</th>
                            <th>Surname</th>
                            <th>First Name</th>
                            <th>DOB</th>
                            <th>Gender</th>
                            <th>Ref Doctor</th>
                            <th>Phone</th>
                            <th><button type="button" class="btn btn-sm btn-outline-success">New</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1444933699</td>
                            <td>M</td>
                            <td>Palmieri</td>
                            <td>August 16, 1954</td>
                            <td>Female</td>
                            <td>Greig, Jean</td>
                            <td>9058568325</td>
                            <td><i class="fas fa-edit"></i> <i class="fas fa-trash"></i> <i class="fas fa-print"></i></td>
                        </tr>
                        <tr class="table-active">
                            <td>1445565318</td>
                            <td>Luigina</td>
                            <td>Mirabelli</td>
                            <td>October 28, 1946</td>
                            <td>Female</td>
                            <td>Zasowski, John</td>
                            <td>9056537913</td>
                            <td><i class="fas fa-edit"></i> <i class="fas fa-trash"></i> <i class="fas fa-print"></i></td>
                        </tr>
                        <tr>
                            <td>1446060670</td>
                            <td>David</td>
                            <td>Kondo</td>
                            <td>November 6, 1954</td>
                            <td>Male</td>
                            <td>Wong, Mary</td>
                            <td>9058500740</td>
                            <td><i class="fas fa-edit"></i> <i class="fas fa-trash"></i> <i class="fas fa-print"></i></td>
                        </tr>
                        <tr class="table-active">
                            <td>1446088807</td>
                            <td>Mary E.</td>
                            <td>Fox</td>
                            <td>June 11, 1935</td>
                            <td>Female</td>
                            <td>Zaremba, Michael</td>
                            <td>7054357049</td>
                            <td><i class="fas fa-edit"></i> <i class="fas fa-trash"></i> <i class="fas fa-print"></i></td>
                        </tr>
                        <tr>
                            <td>1447857192</td>
                            <td>Anna</td>
                            <td>Papini</td>
                            <td>October 8, 1954</td>
                            <td>Female</td>
                            <td>Di Maria, Antoinette</td>
                            <td>9058933851</td>
                            <td><i class="fas fa-edit"></i> <i class="fas fa-trash"></i> <i class="fas fa-print"></i></td>
                        </tr>
                        <tr class="table-active">
                            <td>1447971746</td>
                            <td>Cynthia</td>
                            <td>Lewis-Wint</td>
                            <td>May 16, 1958</td>
                            <td>Female</td>
                            <td>Ogueri, Emmanuel</td>
                            <td>6477018448</td>
                            <td><i class="fas fa-edit"></i> <i class="fas fa-trash"></i> <i class="fas fa-print"></i></td>
                        </tr>
                        <tr>
                            <td>1448179174P</td>
                            <td>Shirley</td>
                            <td>Dobson</td>
                            <td>November 24, 1941</td>
                            <td>Female</td>
                            <td>Zasowski, John</td>
                            <td>9058931679</td>
                            <td><i class="fas fa-edit"></i> <i class="fas fa-trash"></i> <i class="fas fa-print"></i></td>
                        </tr>
                        <tr class="table-active">
                            <td>1448956076</td>
                            <td>Paolo</td>
                            <td>Nigro</td>
                            <td>December 20, 1970</td>
                            <td>Male</td>
                            <td>Zasowski, John</td>
                            <td></td>
                            <td><i class="fas fa-edit"></i> <i class="fas fa-trash"></i> <i class="fas fa-print"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Reports</h3>
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>OHIP</th>
                            <th>Report Date</th>
                            <th>Location</th>
                            <th>Doctor</th>
                            <th>Comments</th>
                            <th><button type="button" class="btn btn-sm btn-outline-success">New</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><i class="fas fa-edit"></i> <i class="fas fa-trash"></i> <i class="fas fa-print"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>