<!DOCTYPE html>

<!--<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/navbar :: layout (~{::body},'patients')}">-->
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
<div class="ui container">
    <form th:object="${echoTest}" class="ui form" method="post">
        <input type="hidden" name="id" th:value="*{id}" />
        <h4 class="ui top attached block header">
            Measurements:<span th:text="${echoTest.patient?.firstName + ' ' + echoTest.patient?.lastName}" />
        </h4>
        <div class="ui bottom attached segment">
            <div class="fields">
                <div class='two wide field'>
                    <div class='ui labeled input'>
                        <div class='ui label'>RV:</div>
                        <input type="text" class="" />
                    </div>
                </div>
                <div class='two wide field'>
                    <div class='ui labeled input'>
                        <div class='ui label'>AO:</div>
                        <input type="text" class="" />
                    </div>
                </div>
                <div class='two wide field'>
                    <div class='ui labeled input'>
                        <div class='ui label'>LA:</div>
                        <input type="text" class="" />
                    </div>
                </div>
                <div class='two wide field'>
                    <div class='ui labeled input'>
                        <div class='ui label'>LVS:</div>
                        <input type="text" class="" />
                    </div>
                </div>
                <div class='two wide field'>
                    <div class='ui labeled input'>
                        <div class='ui label'>LVD:</div>
                        <input type="text" class="" />
                    </div>
                </div>
                <div class='two wide field'>
                    <div class='ui labeled input'>
                        <div class='ui label'>SEPT:</div>
                        <input type="text" class="" />
                    </div>
                </div>
                <div class='two wide field'>
                    <div class='ui labeled input'>
                        <div class='ui label'>PW:</div>
                        <input type="text" class="" />
                    </div>
                </div>
                <div class='two wide field'>
                    <button class="ui button fluid">Go to</button>
                </div>
            </div>
        </div>
        <div class="ui top attached four item tabular menu">
            <a class="item" data-tab="general">General</a>
            <a class="item active" data-tab="echo">ECHO Test</a>
            <a class="item" data-tab="wall">Wall Motion</a>
            <a class="item" data-tab="comments">Comments</a>
        </div>
        <div class="ui bottom attached segment tab" data-tab="general">
            Segment1
        </div>
        <div class="ui bottom attached segment tab active" data-tab="echo">
            <h4 class="ui top attached block header">Left Ventricle</h4>
            <div class="ui bottom attached segment">
                <div class="fields">
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>Grade:</div>
                            <input
                                    th:replace="~{fragments/selectField :: select ('', 'grades', ${T(com.clinic.cardio.models.EchoTestEnums.GRADES).values()}) }" />
<!--                            <select class="ui labeled dropdown">-->
<!--                                <option value="0">0</option>-->
<!--                                <option value="1">1</option>-->
<!--                                <option value="2">2</option>-->
<!--                                <option value="3">3</option>-->
<!--                                <option value="4">4</option>-->
<!--                            </select>-->
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>LVH:</div>
                            <input
                                    th:replace="~{fragments/selectField :: select ('', 'lvh', ${T(com.clinic.cardio.models.EchoTestEnums.LVH).values()}) }" />
<!--                            <select class="ui dropdown">-->
<!--                                <option value="Concentric">Concentric</option>-->
<!--                                <option value="1">1</option>-->
<!--                                <option value="2">2</option>-->
<!--                                <option value="3">3</option>-->
<!--                                <option value="4">4</option>-->
<!--                            </select>-->
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>LVD:</div>
                            <input
                                    th:replace="~{fragments/selectField :: select ('', 'lvd', ${T(com.clinic.cardio.models.EchoTestEnums.LVD).values()}) }" />
<!--                            <select class="ui dropdown">-->
<!--                                <option value="Normal">Normal</option>-->
<!--                                <option value="1">1</option>-->
<!--                                <option value="2">2</option>-->
<!--                                <option value="3">3</option>-->
<!--                                <option value="4">4</option>-->
<!--                            </select>-->
                        </div>
                    </div>
                    <div class='two wide field'>
                        <div class='ui right labeled input'>
                            <div class='ui label'>EF:</div>
                            <input type="text" class="" />
                            <div class='ui label basic'>%</div>
                        </div>
                    </div>
                    <div class='two wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>CO:</div>
                            <input type="text" class="" />
                        </div>
                    </div>

                </div>
                <div class="fields">
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>E/A:</div>
                            <input type="text" class="" />
                            <div class='ui label basic'>/</div>
                            <input type="text" class="" />
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui right labeled input'>
                            <div class='ui label'>DT:</div>
                            <input type="text" class="" />
                            <div class='ui label basic'>ms</div>
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>IVRT:</div>
                            <input type="text" class="" />
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>Diast F</div>
                            <input
                                    th:replace="~{fragments/selectField :: select ('', 'diasfunc', ${T(com.clinic.cardio.models.EchoTestEnums.DIASFUNC).values()}) }" />
<!--                            <select class="ui dropdown">-->
<!--                                <option value="long value">long value</option>-->
<!--                                <option value="1">1</option>-->
<!--                                <option value="2">2</option>-->
<!--                                <option value="3">3</option>-->
<!--                                <option value="4">4</option>-->
<!--                            </select>-->
                        </div>
                    </div>
                </div>
                <div class="ui fluid labeled input">
                    <div class='ui label'>Comments:</div>
                    <input type="text">
                </div>
            </div>
            <h4 class="ui top attached block header">Aortic Valve</h4>
            <div class="ui bottom attached segment">
                <div class="fields">
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>AV:</div>
                            <input
                                    th:replace="~{fragments/selectField :: select ('', 'av', ${T(com.clinic.cardio.models.EchoTestEnums.AV).values()}) }" />
<!--                            <select class="ui dropdown">-->
<!--                                <option value="Mild/Thick">Mild/Thick</option>-->
<!--                                <option value="1">1</option>-->
<!--                                <option value="2">2</option>-->
<!--                                <option value="3">3</option>-->
<!--                                <option value="4">4</option>-->
<!--                            </select>-->
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>P &frac12; t:</div>
                            <input type="text" class="" />
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>AI:</div>
                            <input
                                    th:replace="~{fragments/selectField :: select ('', 'ai', ${T(com.clinic.cardio.models.EchoTestEnums.AI).values()}) }" />
<!--                            <select class="ui dropdown">-->
<!--                                <option value="Mild">Mild</option>-->
<!--                                <option value="1">1</option>-->
<!--                                <option value="2">2</option>-->
<!--                                <option value="3">3</option>-->
<!--                                <option value="4">4</option>-->
<!--                            </select>-->
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>AS:</div>
                            <input
                                    th:replace="~{fragments/selectField :: select ('', 'asav', ${T(com.clinic.cardio.models.EchoTestEnums.ASAV).values()}) }" />
<!--                            <select class="ui dropdown">-->
<!--                                <option value="None">None</option>-->
<!--                                <option value="1">1</option>-->
<!--                                <option value="2">2</option>-->
<!--                                <option value="3">3</option>-->
<!--                                <option value="4">4</option>-->
<!--                            </select>-->
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>AVA:</div>
                            <input type="text" class="" />
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class='three wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>AORTA:</div>
                            <input
                                    th:replace="~{fragments/selectField :: select ('', 'aorta', ${T(com.clinic.cardio.models.EchoTestEnums.AORTA).values()}) }" />
<!--                            <select class="ui dropdown compact">-->
<!--                                <option value="Normal">Normal</option>-->
<!--                                <option value="1">1</option>-->
<!--                                <option value="2">2</option>-->
<!--                                <option value="3">3</option>-->
<!--                                <option value="4">4</option>-->
<!--                            </select>-->
                        </div>
                    </div>
                    <div class='three wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>LVOT diam:</div>
                            <input type="text" class="" />
                        </div>
                    </div>
                    <div class='three wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>PG:</div>
                            <input type="text" class="" />
                        </div>
                    </div>
                    <div class='three wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>MG:</div>
                            <input type="text" class="" />
                        </div>
                    </div>
                    <div class='three wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>V1:</div>
                            <input type="text" class="" />
                        </div>
                    </div>
                    <div class='three wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>V2:</div>
                            <input type="text" class="" />
                        </div>
                    </div>

                </div>
                <div class="ui fluid labeled input">
                    <div class='ui label'>Comments:</div>
                    <input type="text">
                </div>
            </div>
            <h4 class="ui top attached block header">Mitral Valve</h4>
            <div class="ui bottom attached segment">
                <div class="fields">
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>MV:</div>
                            <input
                                    th:replace="~{fragments/selectField :: select ('', 'mv', ${T(com.clinic.cardio.models.EchoTestEnums.MV).values()}) }" />
<!--                            <select class="ui dropdown">-->
<!--                                <option value="Mild/Thick">Mild/Thick</option>-->
<!--                                <option value="1">1</option>-->
<!--                                <option value="2">2</option>-->
<!--                                <option value="3">3</option>-->
<!--                                <option value="4">4</option>-->
<!--                            </select>-->
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>MR:</div>
                            <input
                                    th:replace="~{fragments/selectField :: select ('', 'mr', ${T(com.clinic.cardio.models.EchoTestEnums.MR).values()}) }" />
<!--                            <select class="ui dropdown">-->
<!--                                <option value="Mild">Mild</option>-->
<!--                                <option value="1">1</option>-->
<!--                                <option value="2">2</option>-->
<!--                                <option value="3">3</option>-->
<!--                                <option value="4">4</option>-->
<!--                            </select>-->
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>P &frac12; t:</div>
                            <input type="text" class="" />
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>MG:</div>
                            <input type="text" class="" />
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>MVP:</div>
                            <input
                                    th:replace="~{fragments/selectField :: select ('', 'mvp', ${T(com.clinic.cardio.models.EchoTestEnums.MVP).values()}) }" />
<!--                            <select class="ui dropdown">-->
<!--                                <option value="None">None</option>-->
<!--                                <option value="1">1</option>-->
<!--                                <option value="2">2</option>-->
<!--                                <option value="3">3</option>-->
<!--                                <option value="4">4</option>-->
<!--                            </select>-->
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>MS:</div>
                            <input
                                    th:replace="~{fragments/selectField :: select ('', 'ms', ${T(com.clinic.cardio.models.EchoTestEnums.MS).values()}) }" />
<!--                            <select class="ui dropdown">-->
<!--                                <option value="None">None</option>-->
<!--                                <option value="1">1</option>-->
<!--                                <option value="2">2</option>-->
<!--                                <option value="3">3</option>-->
<!--                                <option value="4">4</option>-->
<!--                            </select>-->
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>MVA:</div>
                            <input type="text" class="" />
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>PG:</div>
                            <input type="text" class="" />
                        </div>
                    </div>
                </div>
                <div class="ui fluid labeled input">
                    <div class='ui label'>Comments:</div>
                    <input type="text">
                </div>
            </div>
            <h4 class="ui top attached block header">Tricuspid/Pulmonic Valves</h4>
            <div class="ui bottom attached segment">
                <div class="fields">
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>TV:</div>
                            <input
                                    th:replace="~{fragments/selectField :: select ('', 'tv', ${T(com.clinic.cardio.models.EchoTestEnums.TV).values()}) }" />
<!--                            <select class="ui dropdown">-->
<!--                                <option value="Normal">Normal</option>-->
<!--                                <option value="1">1</option>-->
<!--                                <option value="2">2</option>-->
<!--                                <option value="3">3</option>-->
<!--                                <option value="4">4</option>-->
<!--                            </select>-->
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>TR:</div>
                                <input
                                        th:replace="~{fragments/selectField :: select ('', 'tr', ${T(com.clinic.cardio.models.EchoTestEnums.TR).values()}) }" />
<!--                            <select class="ui dropdown">-->
<!--                                <option value="Mild">Mild</option>-->
<!--                                <option value="1">1</option>-->
<!--                                <option value="2">2</option>-->
<!--                                <option value="3">3</option>-->
<!--                                <option value="4">4</option>-->
<!--                            </select>-->
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui right labeled input'>
                            <div class='ui label'>RVSP:</div>
                            <input type="text" class="" />
                            <div class='ui label basic'>mm/Hg</div>
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>PUL:</div>
                            <input
                                    th:replace="~{fragments/selectField :: select ('', 'pulhyp', ${T(com.clinic.cardio.models.EchoTestEnums.PULHYP).values()}) }" />
                            <!--                            <select class="ui dropdown">-->
                            <!--                                <option value="Mild">Mild</option>-->
                            <!--                                <option value="1">1</option>-->
                            <!--                                <option value="2">2</option>-->
                            <!--                                <option value="3">3</option>-->
                            <!--                                <option value="4">4</option>-->
                            <!--                            </select>-->
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>PV:</div>
                            <input
                                    th:replace="~{fragments/selectField :: select ('', 'pv', ${T(com.clinic.cardio.models.EchoTestEnums.PV).values()}) }" />
<!--                            <select class="ui dropdown">-->
<!--                                <option value="Normal">Normal</option>-->
<!--                                <option value="1">1</option>-->
<!--                                <option value="2">2</option>-->
<!--                                <option value="3">3</option>-->
<!--                                <option value="4">4</option>-->
<!--                            </select>-->
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>PS:</div>
                            <input
                                    th:replace="~{fragments/selectField :: select ('', 'ps', ${T(com.clinic.cardio.models.EchoTestEnums.PS).values()}) }" />
<!--                            <select class="ui dropdown">-->
<!--                                <option value="None">None</option>-->
<!--                                <option value="1">1</option>-->
<!--                                <option value="2">2</option>-->
<!--                                <option value="3">3</option>-->
<!--                                <option value="4">4</option>-->
<!--                            </select>-->
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>PI:</div>
                            <input
                                    th:replace="~{fragments/selectField :: select ('', 'pi', ${T(com.clinic.cardio.models.EchoTestEnums.PI).values()}) }" />
<!--                            <select class="ui dropdown">-->
<!--                                <option value="None">None</option>-->
<!--                                <option value="1">1</option>-->
<!--                                <option value="2">2</option>-->
<!--                                <option value="3">3</option>-->
<!--                                <option value="4">4</option>-->
<!--                            </select>-->
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>Pulmonic PG:</div>
                            <input type="text" class="" />
                        </div>
                    </div>
                    <div class='four wide field'>
                        <div class='ui labeled input'>
                            <div class='ui label'>Pulmonic MG:</div>
                            <input type="text" class="" />
                        </div>
                    </div>

                </div>
                <div class="ui fluid labeled input">
                    <div class='ui label'>Comments:</div>
                    <input type="text">
                </div>
            </div>

            <div class="ui segment">
                <div class="fields">

                </div>
                <div class="ui fluid labeled input">
                    <div class='ui label'>Comments:</div>
                    <input type="text">
                </div>
            </div>
<!--TODO: LAST SECTION OF ECHO TEST-->
        </div>
        <div class="ui bottom attached segment tab" data-tab="wall">
            Segment3
        </div>
        <div class="ui bottom attached segment tab" data-tab="comments">
            Segment4
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button
                        th:with="text=${echoTest['new']} ? 'Add EchoTest' : 'Update EchoTest'"
                        class="btn btn-default" type="submit" th:text="${text}">Add
                    EchoTest</button>
            </div>
        </div>
            <script>
                $('.tabular.menu .item').tab();
                $('.ui.dropdown').dropdown();
            </script>
    </form>
</div>
</body>